/* Rosario. I've added and changed few things. It's just for personal taste*/

/* Font size of 2.0 is too big, I'll reduce it */
body{
	font-size: 1.7em;
	color: #342526;
}

p {
	color: #3A4145;
}

/*h1, h2, h3, h4, h5, h6 {*/
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #342526;
}

.site-head-content{
	padding:15px;
}
.post-excerpt p {
	font-size: 1em;
}

/* Adding some text shadow*/
.site-head{
	text-shadow: 2px 2px #234;
}

.site-head a {
	color:#eee;
}


/* The font is too large in the post view. Revert to small size*/
.post-header .blog-title{
	font-size:inherit;
}


/* Reduce font size and add line-height*/
pre{
	font-size: 0.75em;  
	line-height: 1.4em;
}

/* Author snippet styling*/
.author{
	margin-bottom:1em;
}
.author header{
	float:left;
	width: 80px;
}

.author article{
	margin-left:80px;
	min-height: 80px;
	padding-left:20px;
}

img.profile {
	width:80px;
	height:auto;
  	border-radius: 50px;
}


.blog-logo img{
	border-radius: 50px;
	border:2px solid #999;
}

