/* CA1911 00233F 03659C 58ADC8 CEFFFF */
body{
  margin:0px;
  padding:0px;
  font-weight: 500;
  font: 17px/1.6em Georgia;
  line-height: 27px;
  color: #050000;
}

a {
    text-decoration: none;
    color: #CA1911;
}

h1.post-title {
  font-size: 35px;
  line-height: 40px;
  font-weight: normal;
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  color: #333;
}

h1.post-title a{
  color: #333;
}

img {
  max-width: 100%;
  height: auto; 
}

img.profile {
  border-radius: 50px;
}

.center {
  text-align:center;
}

pre, tt, code {
  font-size: 12px;
  line-height: 1.5;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  margin-bottom:2em;
}
hr{
  border: 1px solid #eee;
  margin-top:2em;
  margin-bottom:2em;
}

/*
.posts a{
  text-decoration:none !important;
}

p.date{
  font-style:italic;
}


h1.title{
  margin-top:1.3em;
  margin-bottom:0px;
}



a, a:visited {color: #CA1911;}
  
div.container {
  padding-top: 0.5em;
}

nav {
  margin-top:50px;
  position: fixed;
  width: 160px; 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }
  
#logo {
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;}
  
nav ul {
  display:block;
}

nav ul li {
  display: block;
  margin-bottom: 10px;}
nav ul li a,
nav ul li a:visited,
nav ul li a:active  {
  font-size: 14px;
  color: #CA1911;
  text-decoration: none;
  font-weight: bold; }
nav ul li a:hover,
nav ul li a:focus {
  color: white; 
  background: #CA1911;}
hr.large {
  border: none;
  height: 8px;
  background: #ebebeb;
  margin: 50px 0; }
div.doc-section {
  margin: 30px 0; }



h5.followme {
  margin-top:1em;
  padding:10px;
  text-align:right;
}

p.comments{
  padding:10px;
  text-align:center;
}
*/


/* FROM PURE CSS */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* LAYOUT CSS */
#layout {
    padding-left: 25%; /* "left col (nav + list)" width */
    position: relative;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 25%;
    margin-left: -25%;
    border-right: 1px solid #ddd;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
    text-align:right;
}

.header {
    margin: 15% 1.2em 0;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.home-link {
  margin-top:2em;
}
.home-link a:hover{
  opacity:0.8;
}

.home-link img{
  width:40px;
  height:40px;
  opacity:0.4;  
}

.brand-title {
    font-size: 14px;
    font-weight: bold;
    color: #57534A;
}

.brand-tagline {
    font-weight: 300;
    color: #A19C91;
    font-size: 14px;
    line-height:20px;
    margin-top: 0;

}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    margin-top: 1em;
}

.nav-item a:hover,
.nav-item a:focus {
    border: 3px solid rgb(142, 142, 214);
    color: rgb(142, 142, 214);
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 3em 0;
    font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif; 
}
.content h1{line-height:1.2em;}
.content h3{
  font-weight: 300;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: Georgia, "Cambria", serif;
    color: #444;
    line-height: 1.8em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
    .post-category-websockets {
        background: #5aba59;
    }
    .post-category-css {
        background: #4d85d1;
    }
    .post-category-javascript {
        background: #8156a7;
    }
    .post-category-ruby {
        background: #df2d4f;
    }

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
}
.footer a {
    color: #A19C91;
    font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}

@media (max-width: 767px) {
    .sidebar {
        padding-top:10px;
        width: 100%;
        position: relative;
        margin: 0;
    }
    .home-link{
      margin-top:1em;
    }
    .footer{
      padding:0px;
    }
    .content{
      padding:1em 3em 0;
    }
    
    .header {
        text-align: center;
        top: auto;
        margin:0;
        position: static;
    }

    #layout {
        padding: 0;
    }
    h1.post-title{
      font-size:22px;
    }
    
}

@media (max-width: 480px) {
  hr{
  margin:0;
  }
  .content {
      padding: 2em 1em 0;
  }
}